<%- include('./templates/header.ejs') %>
<div class="admin-layout">
 <ul id="admin-menu">
        <li><a href="/admin">tong quan </a></li>
        <li><a href="/admin/product">quan ly san pham </a></li>
        <li><a href="/admin/user">quan ly tai khoan </a></li>
        <li><a href="/admin/order">quan ly don hang </a></li>
       </ul>
<div class="main-layout">
    <h1 >chi tiet don hang #<%=order.id %>   </h1>
        nguoi mua hang:<%=order.idUser %> <br>
        Ngay dat hang: <%=order.date%> <br>
        trang thai don hang:<%=order.status %> <br>
    
        <table border="2">
            <thead>
                <tr>
                    <th>STT</th>
                    <th>Sản phẩm </th>
                    <th>Giá</th>
                    <th>Số Lượng</th>
                    <th>Thành Tiền</th>
                    <th>Đặt Hàng </th>
                </tr>
            </thead>
            <tbody>
                <% let i =0; let tongTien =0;  order.products.forEach(sp => { %>
                    <tr>
                        <td><%= i+1 %></td>
                        <td>
                        <img src="../public/img/<%=sp.image %>" alt="" width="50px">
                       <strong><%=sp.name %> </strong> <br>
                      <% let gia = sp.price; sp.topping.forEach(tp =>{ %>
                        <p> + <%=tp.name %></p>
                      <% gia += tp.price; }); tongTien += sp.quantity * gia %>
                        </td>
                        <td><%= gia %>
                            
                        </td>
                        <td><%=sp.quantity %>             
                        <td><%=sp.quantity*gia %></td> 
                    </tr>
               <% i++; }) %>  
            </tbody>
            <tfoot>
                <tr>
                    <th colspan="4">tổng tiền</th>
                    <th><%= tongTien %></th>     
                </tr>      
            </tfoot>        
        </table> 
</div>
</div>
        <%- include('./templates/footer') %>