
<%- include('./templates/header.ejs') %>
  

<div class="admin-layout">
 <ul id="admin-menu">
        <li><a href="/admin">DANH MỤC </a></li>
        <li><a href="/admin/product">Quản Lý Sản Phẩm </a></li>
        <li><a href="/admin/user">Quản Lý Tài Khoản </a></li>
        <li><a href="/admin/order">Quản Lý Đơn Hàng </a></li>
       </ul>
<div>
    <h1 class="main-layout">QUẢN LÝ ĐƠN HÀNG  </h1>

    <h4> Đơn Hàng Mới </h4>
    <table border="1">
        <thead>
            <tr>
                <th>STT</th>
                <th>MÃ ĐƠN</th>
                <th>TỔNG TIỀN</th>
                <th>DATE ORDER</th>
                <th>TRẠNG THÁI</th>

            </tr>
        </thead>
        <tbody>
            <% let i =1; dsDH.forEach(dh => { %>
            <tr>    
                <td><%=i++ %></td>
               <td>
                <a href="/admin/order/<%=dh.id%>">
                        <%=dh.id %>
                </a>
               </td>
          
                <td><%=dh.total%></td>
                <td><%=dh.date%></td>
                <td>
                    
                    <%=statusText[dh.status] %></td>
            </tr>
            <% }) %>
        </tbody>
    </table>
</div>
    </div>
        <!-- <%- include('./templates/footer') %> -->